@import url('../vendor/normalize.css');
@import url('../blocks/body/body.css');
@import url('../blocks/root/root.css');

/* Шрифты */
@import url('../vendor/fonts/fonts.css');

/* Блок page */
@import url('../blocks/page/__container/page__container.css');

@import url('../blocks/link/link.css');

/* Блок header */
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/header/__email/header__email.css');
@import url('../blocks/header/__auth/header__auth.css');
@import url('../blocks/header/__email/header__email.css');
@import url('../blocks/header/__sign-out/header__sign-out.css');
@import url('../blocks/header/__profile-container/header__profile-container.css');

/* Блок Profile */
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__image/profile__image.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__job/profile__job.css');
@import url('../blocks/profile/__edit-btn/profile__edit-btn.css');
@import url('../blocks/profile/__add-btn/profile__add-btn.css');
@import url('../blocks/profile/__container/profile__container.css');
@import url('../blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('../blocks/profile/__change-avatar/profile__change-avatar.css');

/* Блок Places */
@import url('../blocks/places/__card/places__card.css');
@import url('../blocks/places/__card-item/places__card-item.css');
@import url('../blocks/places/__photo/places__photo.css');
@import url('../blocks/places/__text-container/places__text-container.css');
@import url('../blocks/places/__text/places__text.css');
@import url('../blocks/places/__like-btn/places__like-btn.css');
@import url('../blocks/places/__like-btn/_active/places__like-btn_active.css');
@import url('../blocks/places/__del-btn/places__del-btn.css');
@import url('../blocks/places/__del-btn/places__del-btn_hide');
@import url('../blocks/places/__like-counter/places__like-counter.css');
@import url('../blocks/places/__like-container/places__like-container.css');

/* Блок Footer */
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');

/* popup  */
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_is-opened/popup_is-opened.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__input/_type/popup__input_type_name.css');
@import url('../blocks/popup/__input/_type/popup__input_type_job.css');
@import url('../blocks/popup/__submit-btn/popup__submit-btn.css');
@import url('../blocks/popup/__close-btn/popup__close-btn.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/__form/popup__form.css');
@import url('../blocks/popup/__caption/popup__caption.css');
@import url('../blocks/popup/__figure/popup__figure.css');
@import url('../blocks/popup/__modal-img/popup__modal-img.css');
@import url('../blocks/popup/__img-container/popup__img-container.css');
@import url('../blocks/popup/_type/popup_type_image.css');
@import url('../blocks/popup/__input-error/popup__input-error.css');
@import url('../blocks/popup/__input-container/popup__input-container.css');
@import url('../blocks/popup/__input/_type/popup__input_type_error.css');
@import url('../blocks/popup/__submit-btn/_disabled/popup__submit-btn_disabled.css');
